/* Flowplayer5 for WordPress
 * Public styles
*/

/* Display logo on own site */
.flowplayer.commercial .fp-logo {
	display: block;
	opacity: 1;
}

.flowplayer-video {
	background-color: #777;
}

/* Fix for TwentyFifteen */
.flowplayer .fp-ui a {
	border-bottom: none;
}

.playful.fixed-controls {
	margin-bottom: 35px;
}

.minimalist.fixed-controls {
	margin-bottom: 20px;
}

.functional.fixed-controls {
	margin-bottom: 30px;
}

.flowplayer-playlist {
	margin-bottom: 50px;
}

.flowplayer-playlist .fp-prev,
.flowplayer-playlist .fp-next {
	bottom: -40px;
}

.flowplayer-playlist .fp-prev {
	left: 0;
}

.flowplayer-playlist .fp-next {
	right: 0;
}

.flowplayer-playlist .fp-prev,
.flowplayer-playlist .fp-next {
	position: absolute;
	z-index: 99;
	cursor: pointer;
	color: #333;
	font-size: 14px;
	text-decoration: none;
}
