/* Flowplayer5 for WordPress
 * Admin styles
 */

/* Custom Post Type Logo */
#adminmenu .menu-icon-flowplayer5 div.wp-menu-image {
	background-position: 0 -28px;
}

#adminmenu .menu-icon-flowplayer5:hover div.wp-menu-image,
#adminmenu .menu-icon-flowplayer5.wp-has-current-submenu div.wp-menu-image,
#adminmenu .menu-icon-flowplayer5.current div.wp-menu-image {
	background-position: 0 0;
}

.menu-icon-flowplayer5 div.wp-menu-image {
	background-image: url(../img/28x28-sprite.png);
}

#icon-edit.icon32-posts-flowplayer5 {
	background: url(../img/32x32.png) no-repeat;
}

.wp-media-buttons .add-video span.wp-media-buttons-icon {
	-webkit-background-size: 25px;
	-moz-background-size: 25px;
	background-size: 25px;
	background-image: url(../img/28x28-sprite.png);
	background-position: -5px -30px;
}

/* Meta box */
.fp5-video-meta-box select,
.fp5-video-meta-box td {
	vertical-align: middle;
}

.fp5-video-meta-box .button-primary {
	min-width: 126px;
	text-align: center;
}

.fp5-video-meta-box .media-url {
	width: 100%;
	max-width: 585px;
}

.fp5-video-meta-box .player-previews {
	display: inline;
}

.fp5-video-meta-box .player-preview {
	display: none;
	vertical-align: bottom;
	max-width: 100%;
}

.fp5-video-meta-box .fp5-row-content {
	padding: 0 10px;
}

select#fp5-select-skin {
	margin-top: 11px;
}

#fp5-preview video{
	max-width: 100%
}

@media screen and ( max-width: 1335px ) {
	/* Form Tables */
	.form-table {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.form-table th,
	.form-table td {
		display: block;
		width: auto;
		vertical-align: middle;
	}

	.form-table td input[type="text"],
	.form-table td textarea,
	.form-table span.description,
	#profile-page .form-table textarea {
		width: 100%;
		display: block;
		max-width: none;
		box-sizing: border-box;
		-mox-box-sizing: border-box;
	}

	input[type=text].small-text,
	input[type=search].small-text,
	input[type=number].small-text,
	input[type="number"].small-text,
	.form-table input[type=text].small-text {
		width: auto;
		max-width: 55px;
		display: inline;
		padding: 3px 6px;
		margin: 0 3px;
	}

	.form-table span.description {
		padding: 4px 0 0;
		line-height: 1.4em;
	}

	.form-table th {
		padding-top: 10px;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.form-table td {
		padding-top: 8px;
		padding-left: 0;
	}

	.form-table input.regular-text {
		width: 100%;
	}

	.form-table label {
		font-size: 14px;
	}

	.form-table fieldset label {
		display: block;
	}

	select#fp5-select-skin {
		margin-top: 0;
	}

	.fp5-video-meta-box .player-preview {
		margin-top: 5px;
	}

}

/* Flowplayer Drive */
.video {
	float: left;
	margin: 10px;
	width: 240px;
}

.video .thumb {
	width: 240px;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	background-size: cover;
}

.video .thumb .duration {
	background-color: rgba(0,32,38,0.8);
	padding: 2px;
	display: block;
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	text-align: right;
}

.video-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Settings page */
.fp5-main {
	float: left;
}

.fp5-main form {
	background: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	padding: 10px;
}

#poststuff .fp5-main h3 {
	border-bottom: 1px solid #eeeeee;
	padding-top: 0;
	margin: 0 -10px;
}

#wpbody-content .fp5-sidebar .metabox-holder {
	padding-top: 0;
}

.fp5-sidebar {
	float: right;
}

#fp5_about .hndle {
	cursor: default;
}