/* Flowplayer5 for WordPress
 * Admin styles
 */

/* Custom Post Type Logo */
.branch-3-5 #adminmenu .menu-icon-flowplayer5 div.wp-menu-image,
.branch-3-6 #adminmenu .menu-icon-flowplayer5 div.wp-menu-image,
.branch-3-7 #adminmenu .menu-icon-flowplayer5 div.wp-menu-image {
	background-position: 0 -28px;
}

.branch-3-5 #adminmenu .menu-icon-flowplayer5:hover div.wp-menu-image,
.branch-3-6 #adminmenu .menu-icon-flowplayer5:hover div.wp-menu-image,
.branch-3-7 #adminmenu .menu-icon-flowplayer5:hover div.wp-menu-image,
.branch-3-5 #adminmenu .menu-icon-flowplayer5.wp-has-current-submenu div.wp-menu-image,
.branch-3-6 #adminmenu .menu-icon-flowplayer5.wp-has-current-submenu div.wp-menu-image,
.branch-3-7 #adminmenu .menu-icon-flowplayer5.wp-has-current-submenu div.wp-menu-image,
.branch-3-5 #adminmenu .menu-icon-flowplayer5.current div.wp-menu-image,
.branch-3-6 #adminmenu .menu-icon-flowplayer5.current div.wp-menu-image,
.branch-3-7 #adminmenu .menu-icon-flowplayer5.current div.wp-menu-image {
	background-position: 0 0;
}

.branch-3-5 .menu-icon-flowplayer5 div.wp-menu-image,
.branch-3-6 .menu-icon-flowplayer5 div.wp-menu-image,
.branch-3-7 .menu-icon-flowplayer5 div.wp-menu-image {
	background-image: url(../img/28x28-sprite.png);
}

.branch-3-5 #icon-edit.icon32-posts-flowplayer5,
.branch-3-6 #icon-edit.icon32-posts-flowplayer5,
.branch-3-7 #icon-edit.icon32-posts-flowplayer5 {
	background: url(../img/32x32.png) no-repeat;
}

.branch-3-5 .wp-media-buttons .add-video span.wp-media-buttons-icon,
.branch-3-6 .wp-media-buttons .add-video span.wp-media-buttons-icon,
.branch-3-7 .wp-media-buttons .add-video span.wp-media-buttons-icon {
	-webkit-background-size: 25px;
	-moz-background-size: 25px;
	background-size: 25px;
	background-image: url(../img/28x28-sprite.png);
	background-position: -5px -30px;
}

.branch-3-8 .icon16.menu-icon-flowplayer5:before,
.branch-3-8 #adminmenu .menu-icon-flowplayer5 div.wp-menu-image:before {
	content: "\f126";
}

/* Meta box */
.fp5-video-meta-box select,
.fp5-video-meta-box td {
	vertical-align: middle;
}

.fp5-video-meta-box .button-primary {
	min-width: 126px;
	text-align: center;
}

.player-previews {
	display: inline;
}

.player-preview {
	display: none;
	vertical-align: bottom;
}

.fp5-row-content {
	padding: 0 10px;
}

select#fp5-select-skin {
	margin-top: 11px;
}

#fp5-preview video{
	max-width: 100%
}

/* Flowplayer Drive */
.video {
	float: left;
	margin: 10px;
	width: 240px;
}

.video .thumb {
	width: 240px;
	height: 130px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	background-size: cover;
}

.video .thumb .duration {
	background-color: rgba(0,32,38,0.8);
	padding: 2px;
	display: block;
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	text-align: right;
}

.video-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Settings page */
.fp5-main {
	float: left;
}

.fp5-sidebar {
	float: right;
}

#fp5_about .hndle {
	cursor: default;
}