/* Flowplayer5 for WordPress
 * Admin styles
 */

/* Custom Post Type Logo */
#adminmenu .menu-icon-flowplayer5 div.wp-menu-image {
	background-position: 0 -28px;
}
#adminmenu .menu-icon-flowplayer5:hover div.wp-menu-image,
#adminmenu .menu-icon-flowplayer5.wp-has-current-submenu div.wp-menu-image,
#adminmenu .menu-icon-flowplayer5.current div.wp-menu-image {
	background-position: 0 0;
}
.menu-icon-flowplayer5 div.wp-menu-image {
	background-image: url(../img/28x28-sprite.png);
}

#icon-edit.icon32-posts-flowplayer5 {
	background: url(../img/32x32.png) no-repeat;
}

.wp-media-buttons .add-video span.wp-media-buttons-icon {
	-webkit-background-size: 25px;
	-moz-background-size: 25px;
	background-size: 25px;
	background-image: url(../img/28x28-sprite.png);
	background-position: -5px -30px;
}

/* Meta box */
.player-previews {
	display: inline;
}

.player-preview {
	display: none;
	margin-bottom: -7px;
}

.fp5-row-content {
	padding: 0 10px;
}

select#fp5-select-skin {
	margin-top: 13px;
}

#fp5-preview {
	display: none;
}

#fp5-preview video{
	max-width: 100%
}

/* Colorbox */
#cboxLoadedContent {
	padding: 10px;
}
